#wrapper {
  display: flex;
  border-right: 1px solid black;
  div {
    width: 20px;
    height: 20px;
    border: 1px solid black;
  }

  .set {
    background-color: black;
  }
  .clear
  {

  }
}
